<!DOCTYPE html>
<html>
<head>
<title>Super-Simple JSmol (2)</title>
<meta charset="utf-8">
<script type="text/javascript" src={% static "jsmol/JSmol.min.js" %}></script>
<script type="text/javascript"> 

// supersimple2.htm - illustrating the use of jQuery(document).ready to 
// populate all spans and divs AFTER the page is loaded.
// This is good programming practice.

$(document).ready(

function() {

Info = {
	width: 400,
	height: 400,
	debug: false,
	j2sPath: "j2s",
	color: "0xC0C0C0",
  disableJ2SLoadMonitor: true,
  disableInitialConsole: true,
	addSelectionOptions: false,
	serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
	use: "HTML5",
	readyFunction: null,
	// script: "load $caffeine"
}
function loadMol() {
	var s = {{ modeling }}
	Jmol.jmeReadMolecule(jme, s)
}
$("#mydiv").html(Jmol.getAppletHtml("jmolApplet0",Info))
$("#mydiv").html(Jmol.jmeReadMolecule(jme, {{ modeling }}))
$("#btns").html(
	Jmol.jmolButton(jmolApplet0, "spin on","spin ON")
 +Jmol.jmolButton(jmolApplet0, "spin off","spin OFF")
 )	

}


);



</script>
</head>
<body>
<span id=mydiv></span>
<span id=btns></span>
</body>
</html>
