{% load staticfiles %}
{% block conteudo %}
<form action="/rigel_framework/modeling/" method="post">
	 {% csrf_token %}
	 <title>Alignment</title>
    <h1>Sequence alignment</h1>
    <p>Download the alignment and protein structure with the selected chain below.</p>
    <textarea id="ali" name="ali" cols="74" rows="40"> {{ alignment }}</textarea>
    
    <hr></hr>
   <p> <a href= "{% url 'downloadalign'  %}">Download Alignment</a></p>
    <a href= "{% url 'downloadtemplate'  %}">Download updated template</a>
    <!-- <input type="submit" value="Go to modeling"> -->
</form>
{% endblock %}
