{% load staticfiles %}
{% block conteudo %}
        <title>Find Templates</title>
        <h1>Find Templates</h1>
        <p>Search for proteins related to a sequence. </p>
        <p> <i> Note: the sequence must be in FASTA format.</i></p>
        <form action="{% url "modeling" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            
            <p>{{ form.ligandFile.label_tag }} {{ form.ligandFile.help_text }}</p>

            <p>
                {{ form.ligandFile.errors }}
                {{ form.ligandFile }}
            </p>
            <p>{{ form.chain.label_tag }} {{ form.chain.help_text }}</p>

            <p>
                {{ form.chain.errors }}
                {{ form.chain }}
            </p>
            <p>{{ form.residue_number.label_tag }} {{ form.residue_number.help_text }}</p>

            <p>
                {{ form.residue_number.errors }}
                {{ form.residue_number }}
            </p>
            <p>{{ form.size.label_tag }} {{ form.size.help_text }}</p>

            <p>
                {{ form.size.errors }}
                {{ form.size }}
            </p>
            <p>{{ form.type_docking.label_tag }} {{ form.type_docking.help_text }}</p>

            <p>
                {{ form.type_docking.errors }}
                {{ form.type_docking }}
            </p>
            <p><input type="submit" value="Upload"/></p>
        </form>
    <!-- </body> -->
{% endblock %}