{% load staticfiles %}

<!DOCTYPE html>
<html>
    <style type="text/css">
        
        section {
            width: 100%;
            height: 500px;
            background: aqua;
            margin: auto;
            padding: 0px;
        }
        div.saf {
            width: 70%;
            height: 450px;
            /*background: red;*/
            float: left;
        }
        div#soca {
            /*margin-left: 40px;*/
            /*margin-left: 4px;*/
            display: inline-block;
            height: 500px;
            width: 30%;
             /*min-width:40vw;*/
            background: pink;
        }
    </style>
    <script type="text/javascript">
        function set_example() {
            var file1 = document.getElementById("id_structureFile");


            var id_projectName = document.getElementById("id_projectName");
            id_projectName.value = "hACEC_test";

            var id_residue_number = document.getElementById("id_residue_number");
            id_residue_number.value = "372";

            var id_residue_number = document.getElementById("id_size");
            id_size.value = "1.2";

            var id_type_docking = document.getElementById("id_type_docking");
            id_type_docking.value = "30";

            var id_cluster_cutoff = document.getElementById("id_cluster_cutoff");
            id_cluster_cutoff.value = "0.10";

    }

        // function minhaFuncao1(e) {
        //     var campos = document.querySelector("#soca");
        //     campos.innerHTML = "<div><p>The Virtual Screening process can take a long time. For this you need to enter an valid email by which you will receive a link to access your experiment when it is ready.</p></div>";


        // }
        // function minhaFuncao2(e) {
        //         var campos = document.querySelector("#soca");
        //     campos.innerHTML = '<div><h3>Load a protein target.</h3> <p> You must upload a protein receptor to use HTP SurflexDock. HTP SurflexDock  supports only receptors in <a href="https://en.wikipedia.org/wiki/Protein_Data_Bank_(file_format)">PDB format</a>. You can get it from <a href="https://www.rcsb.org/">https://www.rcsb.org/</a>. Make sure your receptor contains all residues and atoms.</p> <h3>Specify the location of your receptor\'s active site.</h3> <p> The HTP SurflexDock needs to know the location and size of the active site of your protein to make compound interactions in Virtual Screening races. In HTP SurflexDock, the active site is defined by a sphere centered on a protein residue (a,b) and radius r in nanometers (figure below). To specify these parameters you must provide: <ul style="list-style-type:disc;"> <li>Residue number in the PDB (a) and its chain (b).</li> <li>Sphere radio in nanometers (r). </li></p> <img src="{% static "dyna/fig_sphere.jpg" %}" alt="fig_sphere"> <h3> Select the cutoff of clustering algoritm. </h3> <p> HTP SurflexDock uses a clustering algorithm for ensemble building. Cutoff parameter is used to group receptor\'s conformations that have RMSD lower than the value selected in this field. The esemble is composed of 1 representative of the 3 largest clusters and the original conformation.   </p></div>';


        // }
        // function minhaFuncao3(e) {
        //         var campos = document.querySelector("#soca");
        //     campos.innerHTML = "<div><h3>Upload the compound Library.</h3> <p> The compounds for HTP SurflexDock to use must be in PDBTQ format. To submit them to the system you must compress them into a single file in tar.gz or zip format.  </p> <h3>Choose the number of calculated poses for each compound..</h3> <p> HTP SurflexDock can calculate up to 30 poses for each compound. Being the pose with the smallest &Delta;G will be presented in the results.  </div>";


        // }
    </script>
<head>
    <title>HTP SurflexDock</title>
</head>
<body>
    <h1>HTP SurflexDock</h1>
    <p>O HTP SurflexDock é uma ferramenta gratuita de virtual screening baseado em estrutura que utiliza um ensemble de conformações do receptor para aumentar o seu espaço conformacional. O espaço conformacional maior pode favorecer o enriquecimento de diferentes quimiotipos de compostos  Nesta ferramenta o ensemble é criado com 3 conformações obtidas da simulação molecular 5 ns do receptor e a conformação cristolográfica.</p>   
    <section>
        <div class='saf'>
             <form action="http://biocomp.uenf.br:81/" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="zX6cOUaDxTToLYA19eERDSywwVAqzLgCsU1qu65hnbSimkrWPjc9iy3dRGMn0FUv">
                <div id="a">
                        <p> <label for= "{{ form.email.id }}">{{ form.email.label }}</label> {{ form.email }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.projectName.label }}</label> {{ form.projectName }} </p>

                </div>

                <div style="background-color:lightblue" id="b">
                        <p> <label for= "{{ form.email.id }}">{{ form.structureFile.label }}</label> {{ form.structureFile }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.residue_number.label }}</label> {{ form.residue_number }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.chain.label }}</label> {{ form.chain }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.size.label }}</label> {{ form.size }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.cluster_cutoff.label }}</label> {{ form.cluster_cutoff }} </p>
                </div>

                <div id="c">
                        <p> <label for= "{{ form.email.id }}">{{ form.ligandFile.label }}</label> {{ form.ligandFile }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.type_docking.label }}</label> {{ form.type_docking }} </p>

                </div>

                <p><input type="submit" value="Upload"></p>
            </form>
        </div>
        <div id='soca' style="overflow-y: scroll;">
            <div>
    <p>The Virtual Screening process can take a long time. For this you need to enter an valid email by which you will receive a link to access your experiment when it is ready.</p>
</div>
<div>
    <h3>Load a protein target.</h3> 
        <p> You must upload a protein receptor to use HTP SurflexDock. HTP SurflexDock  supports only receptors in <a href="https://en.wikipedia.org/wiki/Protein_Data_Bank_(file_format)">PDB format</a>. You can get it from <a href="https://www.rcsb.org/">https://www.rcsb.org/</a>. Make sure your receptor contains all residues and atoms.</p> 
    <h3>Specify the location of your receptor\'s active site.</h3>
        <p> The HTP SurflexDock needs to know the location and size of the active site of your protein to make compound interactions in Virtual Screening races. In HTP SurflexDock, the active site is defined by a sphere centered on a protein residue (a,b) and radius r in nanometers (figure below). To specify these parameters you must provide: <ul style="list-style-type:disc;"> <li>Residue number in the PDB (a) and its chain (b).</li> <li>Sphere radio in nanometers (r). </li></p> <img src="{% static "dyna/fig_sphere.jpg" %}" alt="fig_sphere" style='height: 100%; width: 100%; object-fit: contain'>
    <h3> Select the cutoff of clustering algoritm. </h3>
        <p> HTP SurflexDock uses a clustering algorithm for ensemble building. Cutoff parameter is used to group receptor\'s conformations that have RMSD lower than the value selected in this field. The esemble is composed of 1 representative of the 3 largest clusters and the original conformation.   </p>
</div>
<div>
    <h3>Upload the compound Library.</h3>
        <p> The compounds for HTP SurflexDock to use must be in PDBTQ format. To submit them to the system you must compress them into a single file in tar.gz or zip format.</p>
    <h3>Choose the number of calculated poses for each compound.</h3>
        <p> HTP SurflexDock can calculate up to 30 poses for each compound. Being the pose with the smallest &Delta;G will be presented in the results.  
</div>
        </div>
    </section>

</body>
</html>
