{% load staticfiles %}
{% block conteudo %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url "modeling_with_only_align" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
<title>Build Model</title>
<h1>Build Model</h1>
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.alignmentfile.label_tag }} {{ form.alignmentfile.help_text }}</p>
            <p>
                {{ form.alignmentfile.errors }}
                {{ form.alignmentfile }}
            </p>
            <p>{{ form.template.label_tag }} {{ form.template.help_text }}</p>

            <p>
                {{ form.template.errors }}
                {{ form.template }}
            </p>
            <p>{{ form.ligandFile.label_tag }} {{ form.ligandFile.help_text }}</p>

            <p>
                {{ form.ligandFile.errors }}
                {{ form.ligandFile }}
            </p>
            <p>{{ form.chain.label_tag }} {{ form.chain.help_text }}</p>

            <p>
                {{ form.chain.errors }}
                {{ form.chain }}
            </p>
            <p>{{ form.residue_number.label_tag }} {{ form.residue_number.help_text }}</p>

            <p>
                {{ form.residue_number.errors }}
                {{ form.residue_number }}
            </p>
            <p>{{ form.size.label_tag }} {{ form.size.help_text }}</p>

            <p>
                {{ form.size.errors }}
                {{ form.size }}
            </p>
            <p>{{ form.type_docking.label_tag }} {{ form.type_docking.help_text }}</p>

            <p>
                {{ form.type_docking.errors }}
                {{ form.type_docking }}

            <p><input type="submit" value="Upload"/></p>
        </form>


<!--         <IFRAME src={% url "modeling" %} width="250" height="350" scrolling="no" frameborder="0" align="center"></IFRAME> -->
    <!-- </body> -->
{% endblock %}