{% load staticfiles %}

<html>
  <head>
  
    <title>Simple integration demo page - Molmil viewer</title>
  
    <script>  
      var molmil_settings = {src: "http://gjbekker.github.io/molmil/"}, canvas, model;
  
      function initViewer() {
        // wait until Molmil has been properly loaded
        if (! window.molmil.configBox || ! molmil.configBox.initFinished) {return setTimeout(initViewer, 100);}
        canvas = document.getElementById("molmilViewer"); 
        canvas = molmil.createViewer(canvas); // initialize the canvas
        
        molmil.loadFile("http://127.0.0.1:8000/download_protein_str/a9a1574fe5044966998344123a8b85d1/720.000_folder/ciligentide.pdbqt/21", 'pdb', null, null, canvas.molmilViewer);
        // molmil.loadFile("http://127.0.0.1:8000/download_protein_ligand/a9a1574fe5044966998344123a8b85d1/720.000_folder/ciligentide.pdbqt/21", 'pdb', null, null, canvas.molmilViewer);
        model = canvas.molmilViewer.structures[0];
        document.getElementById("demo").innerHTML = model.chains[0];
        chain = model.chains[0];
        chain.displayMode = 2;
              canvas.renderer.initBuffers(); // rebuild the buffers
      canvas.update = true; // signal Molmil to render the scene on the next sync
        // molmil.displayEntry(model, molmil.displayMode_None, null, canvas.molmilViewer);

        // molmil.displayEntry(model, molmil.displayMode_BallStick, null, canvas.molmilViewer);
        // molmil.loadFile("https://files.rcsb.org/view/1JAF.pdb", 'pdb', null, null, canvas.molmilViewer);
        // molmil.loadPDB(canvas.getAttribute("data-pdbid"), null, null, canvas.molmilViewer); // load the entry
      }
    </script>
  </head>
  
  <body onload="initViewer();">
    <center>
      <h1 id="mm_title">molmil viewer</h1>
      <h3>Integration test page</h3>
      <span class="molmil_UI_container">
        <canvas id="molmilViewer" data-pdbid="1bdm" width="600" height="400" style="display: block; border: 1px solid #DDD;"></canvas>
      </span>
    </center>
    <p id="demo"></p>
  </body>
  <script src="http://gjbekker.github.io/molmil/molmil.js"></script>
</html>
