<!DOCTYPE html>
<html>
	<head>
		<title>Convert a mol2 file in pdbqt </title>
	</head>
	<body>
		<form action="{% url 'convert_mol2_to_pdbqt' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p> <label for="{{ form.mol2File.id }}"> {{form.mol2File.label}} </label>
		{{ form.mol2File }}</p>
			
			<p><input type="submit" value="Upload"></p>
		</form>

	</body>
</html>