{% if last_command %}
  HTP SurflexDock ID: {{ post.name }}
{% else %}
  MDR SurflexDock ID: {{ post.name }}
{% endif %}
<p>Finished? {{ post.alive }}</p>
{% if post.alive %}
    <p>Finished at {{ post.terminated_date }}</p>
{% endif %}

<p>Failed?: {{ post.fail }}</p>
{% if post.fail %}
    <p> <a href= "{% url 'activeLog'  name=post.name %}">Access Error Log</a></p>
{% endif %}
<p>Project name: {{ post.projectName }}</p>
<p>Protein name: {{ post.protein }}</p>
<p>Folder: {{ post.folder }}</p>
<p>Chain: {{post.chain}}</p>
<p>Center Residue: {{post.residue_number}}</p>
<p>Box Size: {{post.size}}</p>
<p>Starting time: {{post.created_date}}</p>
<p>Maximun Number of evals of AutoDock: {{post.type_docking}}</p>
{% if last_command %}
  <h2> Simulation Information: </h2>
  <p>Executed Step {{number_of_runned_steps}} of 45</p>
  <p>Last Command Executed: {{last_command}}</p>
  <p> <a href= "{% url 'log'  name=post.name %}">Executed Commands</a></p>
      </div>
{% if post.fail %}
  <p> <a href= "{% url 'activeLog'  name=post.name %}">Last Command Output</a></p>
{% endif %}
  <p> <a href= "{% url 'simulationLog'  name=post.name %}">Molecular Simulation Logs</a></p>
  <h3>Generated Conformations:</h3>
  {% for fileb in clusters %}
    <p>{{fileb}}</p>
  {% endfor %}
  <h3>Missing Files for simulation completation:</h3>
  {% for file in missing_files %}
    <p>{{file}}</p>
  {% endfor %}
{% endif %}
<h2> Docking Information: </h2>
<p>Submitted Compounds (Uncompressed): {{count_ligands}}</p>
<p>Processed Compounds: {{count_processed_ligands}}</p>
<h3>Processed Compound in each Conformation:</h3>


{% for file, cranio, error in twi %}
  {% if error > 0 %}
  <p> <a href= "{% url 'dockingLog'  name=post.name time=file  %}">{{file}}:{{cranio}} (Error: {{error}})</a></p>
  {% else %}
    <p>{{file}}:{{cranio}} (Error: {{error}}) </p>
  {% endif %}
{% endfor %}
