<h1>Errors found in docking of following compound with conformation {{time}}:</h1>
{% for a in docking_with_erros %}
<p> <a href= "{% url 'dockingLogFiles'  name=name time=time compound=a  %}">{{a}} </a></p>

{% endfor %}