{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<style type="text/css">
        section {
            /*width: 100%;*/
            width: 930px;
            /*height: 760px;*/
            /*background: aqua;*/
            margin: auto;
            padding: 0px;

        }
        div#id_res_info {
            width: 900px;
            display: inline-block;
            /*height: 680px;*/
            /*background: pink;*/
            /*padding: 10px;*/
            /*float: left;*/
        }

		div#id_docking_table {
            /*margin-left: 40px;*/
            /*margin:  40px;*/
            display: inline-block;
            /*height: 760px;*/
            width: 900px;
            /*padding: 10px;*/
             /*min-width:40vw;*/
            /*background: yellow;*/
        }

</style>
<head>
	  <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 	<title>Refining Results</title>
</head>
<body>
	
	<section class="shadow p-3 mb-5 bg-white rounded">

		<h1 class="shadow p-3 mb-5 bg-white rounded">HTP SurflexDock server 0.5</h1>
			<div id="id_res_info" class="border border-dark rounded" style="margin: 10px auto;">
				<p class="text-light bg-dark text-center rounded">Select the amount of dockings to be calculated per compound </p>
	        <form action="{% url "second_stage" name=name %}" method="post" enctype="multipart/form-data">
	            {% csrf_token %}
	            <p>In order to refine the selected results you can select the number of dockings calculated per compound. This way the HTP SurflexDock will present a table with all calculated dockings: </p>       	
	            
	                {{ form.as_p }}
	               
	            <p><input type="submit" value="Submit"/></p>
	        </form>

	        </div>

	        <div  id="id_docking_table" class="border border-dark rounded">
	        	<p class="text-light bg-dark text-center rounded">Selected Compounds</p>
	        	<p>This table shows all selected compounds: </p>
		       		{% render_table compounds %}

	        </div>

        </section>

</body>
</html>