{% load render_table from django_tables2 %}
<!doctype html>
<style type="text/css">
  
  .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  /*padding: 50px 0;                        /*  added  */*/
  box-sizing: border-box;                 /*  added  */  
  /*background: yellow;*/
  }

  .column {
display: flex;
  flex-direction: column;
  align-items: left;
  margin: auto 0;                         /*  changed  */
  padding: 20px;
  width: 5000px;
  }

  .container{
      text-align:center;
      overflow: scroll;
      white-space:nowrap;
     
  }
  .container2{
      text-align:left;
  }

  .fake_img{
      display:inline-block;

  }
  .ignore-css{all:unset;}
</style>

<html>
    <head>
        <title>List of ligands</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
      <div class="row">
        <div class="column">
        <h1>HTP SurflexDock 0.5 Results</h1>
         <p>HTP SurflexDock ID: {{ post.name }}</p>
        <p>Finished? {{ post.alive }}</p>
        {% if post.alive %}
            <p>Finished at {{ post.terminated_date }}</p>
        {% else %}
          <p> <a href= "{% url 'stop'  name=post.name %}">STOP!!!!!!!!!!!!</a></p>
        {% endif %}

        <p>Failed?: {{ post.fail }}</p>
        {% if post.fail %}
            <p> <a href= "{% url 'activeLog'  name=post.name %}">Access Error Log</a></p>
        {% endif %}
        <p>Project name: {{ post.projectName }}</p>
        <p>Protein name: {{ post.protein }}</p>
        <p>Ligands:</p>
        {% for ligand in ligands %}
            <p> -> {{ligand.filename}}</p>
        {% endfor %}
        <p>Chain: {{post.chain}}</p>
        <p>Center Residue: {{post.residue_number}}</p>
        <p>Box Size: {{post.size}}</p>
        <p>Starting time: {{post.created_date}}</p>
        <p>Maximun Number of evals of AutoDock: {{post.type_docking}}</p>
        <p>Free space on /: {{free_space}}</p>
        <p> <a href= "{% url 'debug'  name=post.name %}">Debug Experiment</a></p>

            <div class="date">
                <h2>Download Results:</h2>
                 <a href= "{% url 'download' name=post.name   %}">Download</a>
                <h4>Download Top 20 Results (PDF Format):</h4>
                 <a href= "{% url 'download_table' name=post.name   %}">Download</a>
                <h4>Download ROC Tables:</h4>
                 <a href= "{% url 'download_roc_tables' name=post.name   %}">Download</a>
            </div>
            
          </div>
            <div class="column">
              {% if has_cluster %}
                <img src="{% url 'clusterimg' name=post.name %}" alt="Forest" style="width:600px">
              {% endif %}
          </div>
           </div>
           <div class="ignore-css">
        <form action="{% url 'experiment_detail3' name=post.name %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% render_table compounds %}
                 <p><input type="submit" value="Upload"/></p>
        </form>
          </div>
<!--  <form action="ex_form" target="_blank">
        

    </form> -->
    </body>
</html>
