{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html>
<style type="text/css">
        section {
            width: 1290px;
            /*background: aqua;*/
            margin: auto;
            padding: 0px;
        }
        div#id_exp_info {
            width: 50%;
            /*height: 200px;*/
            display: inline-block;
            /*margin-bottom: 10px;*/
        }
        div#id_exp_info2 {
            width: 49%;
            /*height: 200px;*/
            /*display: inline-block;*/
            /*margin-bottom: 10px;*/
            float: right;
        }

        div#id_part_info {
            width: 100%;
            /*height: 200px;*/
            /*display: inline-block;*/
            margin-bottom: 15px;
        }
        div#id_rec_info {


            display: inline-block;
            height: 240px;
            width: 100%;
            float: right;
            margin-bottom: 15px;

        }
        div#id_rec_info2 {

            display: inline-block;
            height: 80px;
            width: 100%;
            float: right;
            margin-bottom: 15px;

        }
        div#id_docking_table {
            display: inline-block;
            width: 75%;
        }
        div#right_panel {
            width: 23%;
            /*height: 200px;*/
            float: right;
            display: inline-block;
            /*margin-bottom: 10px;*/
        }
        div#id_pos_processing_itens {
            width: 100%;
            /*height: 200px;*/
            /*float: right;*/
            display: inline-block;
            margin-bottom: 10px;
        }
        div#id_btn {
            width: 100%;
             display: inline-block;

        }
        div#id_btnMMBPSA {
            width: 100%;
            text-align: justify;
            margin: 0 auto;
        }
        div#download_results {
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
        div#save_link {
            /*width: 900px;*/
            display: inline-block;
            /*height: 680px;*/
            /*background: pink;*/
            /*padding: 10px;*/
            /*float: left;*/
            margin-bottom: 10px;
        }





        div#id_res_info {
            width: 100%;
            height: 680px;
            /*background: red;*/
            /*float: left;*/
        }

        div#id_docking_table {
            /*margin-left: 40px;*/
            /*margin:  40px;*/
            display: inline-block;
            /*height: 760px;*/
            width: 760;
            /*padding: 10px;*/
             /*min-width:40vw;*/
            /*background: yellow;*/
        }
        div#container{
            text-align:center;
            overflow: scroll;
            white-space:nowrap;
           
        }
        div#fake_img{
            display:inline-block;

        }
</style>
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>HTP SurflexDock 0.6 results</title>
</head>
<body>
   <section class="shadow p-3 mb-5 bg-white rounded">
        <h1>HTP SurflexDock Results</h1>
            <div id="save_link" class="border border-danger rounded">
                <p class="text-light bg-danger text-center rounded font-weight-bold">Warning</p>
                <ul>
                <li> This experiment may take a few hours to complete, therefore, You need to save the address of this page  (<a href={{ request.get_full_path }}>{{ request.build_absolute_uri }}</a>) to access the results in the future.  <a class=" font-weight-bold text-danger"> We highly recommend that you bookmark it on your browser!!!</a> </li>
                {% if post.alive %}
                {% else %}

                    <li> This experiment is in a processing queue. You can view the queue <a href="{% url 'task_list_user' name=post.name %}"> clicking here! </a></li>
                 {% endif %}
                </ul>

            </div>
        <div id="id_exp_info">
            
            <div id="id_part_info" class="border border-dark rounded">
                        <p class="text-light bg-dark text-center rounded">Experiment Information</p>

                        <!-- <p>HTP SurflexDock ID: {{ post.name }}</p> -->
                        <p> <b>Project name:</b> {{ post.projectName }}</p>
                        <p> <b>Starting time:</b> {{post.created_date}}</p>
                        
                        {% if post.alive %}
                             <p> <b>Finished at</b> {{ post.terminated_date }}</p>
                        {% else %}
                            <p> <b> Finished?</b> False <a href= "{% url 'stop'  name=post.name %}">STOP Experiment!!!!!!!!!!!!</a></p>
                        {% endif %}

                        <p> <b>Failed?:</b> {{ post.fail }}
                        {% if post.fail %}
                             (<a href= "{% url 'activeLog'  name=post.name %}">Access Error Log</a>)
                        {% endif %}
                        </p>
                        <!--                    <p> <b>Free space on /: {{free_space}}</p>
     -->                    <p> <a href= "{% url 'debug'  name=post.name %}">Debug Experiment</a></p>
            </div>

                <div id="id_part_info" class="border border-dark rounded">
                            <p class="text-light bg-dark text-center rounded">Compound Library Information</p>
                            <p> <b>Number of docking calculations for each ligand:</b> {{post.type_docking}}</p>


                            <!-- <div id="id_download_results"> -->
                     <!--            <h2>Download Results:</h2>
                                 <a href= "{% url 'download' name=post.name   %}">Download</a> -->
        <!--                         <h4>Download Top 20 Results (PDF Format):</h4>
                                 <a href= "{% url 'download_table' name=post.name   %}">Download</a> -->
        <!--                         <h4>Download ROC Tables:</h4>
                                 <a href= "{% url 'download_roc_tables' name=post.name   %}">Download</a> -->
                            <!-- </div> -->
                </div>
        </div>
        <div id="id_exp_info2">
            <div id="id_rec_info" class="border border-dark rounded">
                        <p class="text-light bg-dark text-center rounded">Receptor Information</p>
                        <p> <b>Receptor Protein:</b> {{ post.protein }}</p>
                        <p> <b>Center Residue (center of the active site):</b> {{post.residue_number}}</p>
                        <p> <b>Center residue chain in the receptor: </b>{{post.chain}}</p>
                        <p> <b>Size of the active site : </b>{{post.size}} nm</p>
            </div>
            {% if post.alive %}
            <div id="id_rec_info2" class="border border-darkprimary rounded">
                        <p class="text-light bg-primary text-center rounded">Download Results</p>
                        <a href= "{% url 'download_mdr_analisys' name=post.name   %}">Download top 10 results</a>

            </div>
            {% endif %}
        </div>
            
<!--         {% if has_cluster %}
        <div id="id_cluster_img" class="border border-dark rounded">
            <p class="text-light bg-dark text-center rounded">Clusters of Simulation</p>
              
                <img src="{% url 'clusterimg' name=post.name %}" alt="Forest" style="width:450px">
            
        </div>
        {% endif %} -->
        </section>

  <section class="shadow p-3 mb-5 bg-white rounded">

       <div id="container"  class="border border-dark rounded">
          <p class="text-light bg-dark text-center rounded">Ki of the compounds in each cluster</p>
          {% for ligand in ligands %}
          <div id="fake_img">
              <p>{{ligand}}</p>          
              {% if ligand %}
                <img src="{% url 'boxplot' name=post.name  ligand=ligand %}" alt=ligand style="width:80%">
              {% endif %}
          </div>


            {% endfor %}
         
        </div>    
  </section>

<section class="shadow p-3 mb-5 bg-white rounded">
  <form action="{% url 'experiment_detail2' name=post.name  %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
  <div id="id_docking_table" class="border border-dark rounded">
        <p class="text-light bg-dark text-center rounded">Compounds Ranking</p>
    
  {% render_table compounds %}
  </div>
   {% if post.alive %}
      <div id="right_panel">
        
    <div id="id_pos_processing_itens" class="border border-primary rounded">
        <p class="text-light bg-primary text-center rounded">Post-Processing Tasks</p>
        

        <div id="id_btnMMBPSA" >

            <p class="text-light bg-secondary text-center rounded">MMPBSA analisys</p>
            <p>You can select a complex to estimate its free energy of binding using MM/PBSA analisys.</p>
    <p class="text-center"><input type="submit" name="mmpbsa" value="MM/PBSA analisys"/></p>
            </form>
 

    </div>

<!--         </form>
 -->    </div>
<!--     <div id="download_results"  class="border border-primary rounded">
        <p class="text-light bg-primary text-center rounded">Top 20 Complex</p>
        <a href= "{% url 'download_table' name=post.name   %}">Download (PDF Format)</a>
    </div> -->
    {% endif %}
    </div>
     <!-- </form> -->
</section>

</body>
</html>
