{% load render_table from django_tables2 %}
<!doctype html>
<style type="text/css">
  
  .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start; 
  padding: 50px 0;                        /*  added  */
  box-sizing: border-box;                 /*  added  */  
  }

  .column {
display: flex;
  flex-direction: column;
  align-items: left;
  margin: auto 0;                         /*  changed  */
  padding: 20px;
  width: 50%;
  }
  .container{
      text-align:center;
      overflow: scroll;
      white-space:nowrap;
     
  }
  .container2{
      text-align:left;
  }

  .fake_img{
      display:inline-block;

  }
  .ignore-css{all:unset;}
</style>

<html>  

    <head>
            <title>List of compounds</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
   
    
      <div class="row">
        <div class="column">
                      HTP SurflexDock ID: {{ post.name }}
                      <p>Finished? {{ post.alive }}</p>
                      {% if post.alive %}
                          <p>Finished at {{ post.terminated_date }}</p>
                      {% endif %}

                      <p>Failed?: {{ post.fail }}</p>
                      {% if post.fail %}
                          <p> <a href= "{% url 'activeLog'  name=post.name %}">Access Error Log</a></p>
                      {% endif %}
                      <p>Project name: {{ post.projectName }}</p>
                      <p>Protein name: {{ post.protein }}</p>
                      <p>Ligands:</p>
                      {% for ligand in ligands %}
                          <p> -> {{ligand.filename}}</p>
                      {% endfor %}
                      <p>Chain: {{post.chain}}</p>
                      <p>Center Residue: {{post.residue_number}}</p>
                      <p>Box Size: {{post.size}}</p>
                      <p>Starting time: {{post.created_date}}</p>
                      <p>Maximun Number of evals of AutoDock: {{post.type_docking}}</p>
                      <p> <a href= "{% url 'log'  name=post.name %}">Commands Log</a></p>
                      {% if post.alive %}
                          <div class="date">
                              <h2><a href= "{% url 'download' name=post.name   %}">Download Results</a></h2> 
                          </div>
                      {% endif %}
        </div>
                  <div class="column">
              
          </div>
        
          <div class="column">
              {% if has_cluster %}
                <img src="{% url 'clusterimg' name=post.name %}" alt="Forest" style="width:100%">
              {% endif %}
          </div>

      </div>

      <p>Ki of the compounds in each cluster:</p>
<!--  -->
      <div class="ignore-css">

                <form action="ex_form" target="_blank">
                      {% render_table compounds %}
                </form>

     </div>

    </body>

</html>
