<!DOCTYPE html>
<html>
	<script>
	function goBack() {
	  window.history.back();
	}
	</script>
	<head>
	    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Fix Receptor file </title>
	</head>
	<body>
		<div id="id_res_info" class="border border-dark rounded">
		<form action="{% url 'fix_receptor' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<h1>HTP SurflexDock</h1>
			<h2>Receptor's Residue Index Repairer</h1>
			<p>This tool checks and fixes the receptor's residue index</p>
			<p> <label for="{{ form.receptorFile.id }}"> {{form.receptorFile.label}} </label>
		{{ form.receptorFile }}</p>
			
			<p><input type="submit" value="Upload"></p>
		</form>
		</div>
	</body>
</html>