{% load staticfiles %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
        
        section {
            /*width: 100%;*/
            width: 970px;
            height: 760px;
            /*background: aqua;*/
            margin: auto;
            padding: 0px;
        }
        div#title {
           /* background: aqua; */
            /*width: 100%;*/
            width: 970px;
            height: 120px;
            /*height: 180px;*/
            margin: 10px auto;
            
        }
        div#contacts {
            /*background: green;*/
            /*width: 100%;*/
            width: 970px;
            height: 140px;
            /*height: 180px;*/
            margin: 0 auto;
        }
        div.saf {
            width: 60%;
            height: 650px;
            /*background: red;*/
            float: left;
        }
        div#soca {
            /*margin-left: 40px;*/
            /*margin:  40px;*/
            display: inline-block;
            height: 400px;
            width: 40%;
            padding: 10px;
             /*min-width:40vw;*/
            /*background: pink;*/
        }
    </style>
    <script type="text/javascript">
        function set_example() {
            var file1 = document.getElementById("id_structureFile");

            var structureFile_text = document.getElementById("structureFile_text");

            structureFile_text.innerHTML = "Receptor Protein:  <a href={% static 'example/hACEcOk.pdb' %}>Download Receptor Protein Example (PDB)</a>";

            // var structureFile_send = document.getElementById("{{ form.structureFile.id }}");
            file1.required = false;
            file1.style.display = "none";


            var id_projectName = document.getElementById("id_projectName");
            id_projectName.value = "hACEC_test";

            var id_residue_number = document.getElementById("id_residue_number");
            id_residue_number.value = "372";

            var id_residue_number = document.getElementById("id_size");
            id_size.value = "1.2";

            var id_type_docking = document.getElementById("id_type_docking");
            id_type_docking.value = "10";

            var id_cluster_cutoff = document.getElementById("id_cluster_cutoff");
            id_cluster_cutoff.value = "0.10";

            var file2 = document.getElementById("id_ligandFile");
            file2.required = false;
            file2.style.display = "none";
           var structureFile_text = document.getElementById("id_ligandFile_text");

            structureFile_text.innerHTML = "Ligand library in .pdbqt format for docking:  <a href={% static 'example/sample_15_lig_85_dec_hace_c.tar.gz' %}>Download Compound Library Example</a>";
    }

    </script>
<head>

   <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>HTP SurflexDock</title>
</head>
<body>
    <div id='title' class="shadow-sm p-3 mb-5 rounded">
        <h1>HTP SurflexDock server 0.5 </h1>
<!--         <p class="text-light bg-dark text-center rounded">What is?</p>
        <p>HTP SurflexDock is a free structure-based virtual screening tool that utilizes a receptor's conformation ensemble to increase your conformational space. The larger conformational space may favor the enrichment of different compound chemotypes. In this tool the ensemble is created with 3 conformations obtained from the 5 ns molecular simulation of the receptor and the christological conformation.</p> -->
        <p><a href="{% static 'HTP_SurflexDock_basic_Tutorial.pdf' %}">Basic Tutorial for experiment draft and parameters</a> </p>
    </div>

    <section class="shadow p-3 mb-5 bg-white rounded">
        <div class="saf">
            <form action="{% url 'load_files' %}" method="post" enctype="multipart/form-data">
            	{% csrf_token %}
                
        <div id="a" class="border border-dark rounded">
        	<span >
            <p class="text-light bg-dark text-center rounded">Experiment Identification</p>
            <p > <label for= "{{ form.email.id }}">{{ form.projectName.label }}</label> {{ form.projectName }} </p>
            </span>
        </div>

        <div id="b" style="margin: 10px auto;" class="border border-dark rounded">
            <p class="text-light bg-dark text-center rounded">Receptor Upload</p>
            <p> <label for= "{{ form.email.id }}" id="structureFile_text">{{ form.structureFile.label }}</label> {{ form.structureFile }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.residue_number.label }}</label> {{ form.residue_number }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.chain.label }}</label> {{ form.chain }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.size.label }}</label> {{ form.size }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.cluster_cutoff.label }}</label> {{ form.cluster_cutoff }} </p>
        </div>

        <div id="c" style="margin: 10px auto;" class="border border-dark rounded">
            <p class="text-light bg-dark text-center rounded">Compound Library Upload</p>
            <p> <label for= "{{ form.email.id }}" id="id_ligandFile_text" >{{ form.ligandFile.label }}</label> {{ form.ligandFile }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.type_docking.label }}</label> {{ form.type_docking }} </p>
        </div>
        <input type="button" name="Example" value="Load Sample Data (Angiotensin I Converter Enzime)" onclick="set_example();" style="margin-bottom: 10px;">
        <p><input type="submit" value="Upload"></p>
        <!-- <a href="javascript:set_example()">Angiotensin I Converter Enzime Example</a> -->
    </form>
    </div>
    <div id="soca" style="margin: 10px auto;" >
         <div>
            <p class="text-light bg-dark text-center rounded">Active Site Delimitation</p>
             <img src="{% static "dyna/fig_sphere.jpg" %}" alt="fig_sphere" style='height: 100%; width: 100%; object-fit: contain'>
         </div>
    </div>
</section>

<div id='contacts' style="margin: 10px auto;" class=" shadow p-3 mb-5 bg-white rounded">
    <p class="text-light bg-dark text-center rounded">Contacts:</p>
    <p>Dr. João Luiz de Almeida Filho (<a href = "mailto: joaoluiz.af@gmail.com">joaoluiz.af@gmail.com</a>); LQFPP-CBB-UENF</p>
    <p>Prof. Jorge H. Fernandez  (<a href = "mailto: jhfernandez@gmail.com">jhfernandez@gmail.com</a>); LQFPP-CBB-UENF:</p>


</div>

</body>




</html>







