{% load staticfiles %}
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><style type="text/css">
        
        section {
            /*width: 100%;*/
            width: 970px;
            height: 660px;
            /*background: aqua;*/
            margin: auto;
            padding: 0px;
        }

        div#titleUENF {
           /* background: aqua; */
            /*width: 100%;*/
            width: 970px;
            height: 70px;
            /*height: 180px;*/
            margin: 10px auto;            
        } 

        div#fig_uenf {
           float:left; 
           /*display:block;          */
        } 

        div#title {
           /* background: aqua; */
            /*width: 100%;*/
            width: 970px;
            height: 120px;
            /*height: 180px;*/
            margin: 10px auto;
            
        }        
        div#subtitle {
           /* background: aqua; */
            /*width: 100%;*/
            width: 970px;
            height: 120px;
            /*height: 180px;*/
            margin: 10px auto;
            
        }

        div#contacts {
            /*background: green;*/
            /*width: 100%;*/
            width: 970px;
            height: 140px;
            /*height: 180px;*/
            margin: 0 auto;
        }
        div.saf {
            width: 60%;
            height: 650px;
            /*background: red;*/
            float: left;
        }
        div#soca {
            /*margin-left: 40px;*/
            /*margin:  40px;*/
            display: inline-block;
            height: 330px;
            width: 40%;
            padding: 10px;
             /*min-width:40vw;*/
            /*background: pink;*/
        }
        div#ACEExampleBox {
            width: 100%;
            text-align: center;
            margin: 0 auto;
        }
    </style>
    <script type="text/javascript">
        function set_example() {
            var file1 = document.getElementById("id_structureFile");

            var structureFile_text = document.getElementById("structureFile_text");

            structureFile_text.innerHTML = "Receptor:  <a href={% static 'example/hACEcOk.pdb' %}>Download ACE-I Receptor Example (PDB)</a>";

            // var structureFile_send = document.getElementById("{{ form.structureFile.id }}");
            file1.required = false;
            file1.style.display = "none";


            var id_projectName = document.getElementById("id_projectName");
            id_projectName.value = "hACEC_test";

            var id_residue_number = document.getElementById("id_residue_number");
            id_residue_number.value = "372";

            var id_residue_number = document.getElementById("id_size");
            id_size.value = "1.2";

            // var id_type_docking = document.getElementById("id_type_docking");
            //  id_type_docking.value = "10";

            var id_cluster_cutoff = document.getElementById("id_cluster_cutoff");
            id_cluster_cutoff.value = "0.10";

            var file2 = document.getElementById("id_ligandFile");
            file2.required = false;
            file2.style.display = "none";
           var structureFile_text = document.getElementById("id_ligandFile_text");

            structureFile_text.innerHTML = "Ligand library in .pdbqt format for docking:  <a href={% static 'example/sample_15_lig_85_dec_hace_c.tar.gz' %}>Download Compound Library Example</a>";
    }
    function view_example() {
        window.location.href = "{{ example_result_link }}";
    }
    </script>
<head>

   <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>HTP SurflexDock</title>
</head>
<body>
<!--     <div id='titleUENF' class="shadow-sm p-3 mb-1 bg-dark  rounded">
        <img class="fig_uenf" src="https://uenf.br/portal/wp-content/uploads/2019/08/logo-uenf-transparente.png"  alt="fig_uenf" style='height: 100%; width: 100%; object-fit: contain '>
    </div> -->
    <div id='title' class="shadow-sm p-3 mb-1 rounded">
        <h1>HTP SurflexDock server 0.6 </h1>

        <p><a href="{% static 'HTP_SurflexDock_basic_Tutorial.pdf' %}">Basic Tutorial</a> </p>
    </div>
<!--       <div id='subtitle' class="shadow-sm p-3 mb-1 rounded">
            <p>Mensagem HTP SurflexDock</p>
    </div>
-->
    <section class="shadow p-3 mb-1 bg-white rounded">
        <div class="saf">
            <form action="{% url 'load_files' %}" method="post" enctype="multipart/form-data">
            	{% csrf_token %}
                
        <div id="a" class="border border-dark rounded">
        	<span >
            <p class="text-light bg-dark text-center rounded">Experiment Identification</p>
            <p > <label for= "{{ form.email.id }}">{{ form.projectName.label }}</label> {{ form.projectName }} </p>
            {% if use_email_backend %}
                <p> <label for= "{{ form.email.id }}">{{ form.email.label }}</label> {{ form.email }} </p>
            {% endif %}
            </span>
        </div>

        <div id="b" style="margin: 10px auto;" class="border border-dark rounded">
            <p class="text-light bg-dark text-center rounded">Receptor Upload</p>
            <p> <label for= "{{ form.email.id }}" id="structureFile_text">{{ form.structureFile.label }}</label> {{ form.structureFile }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.residue_number.label }}</label> {{ form.residue_number }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.chain.label }}</label> {{ form.chain }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.size.label }}</label> {{ form.size }} </p>
            <p> <label for= "{{ form.email.id }}">{{ form.cluster_cutoff.label }}</label> {{ form.cluster_cutoff }} </p>
        </div>

        <div id="c" style="margin: 10px auto;" class="border border-dark rounded">
            <p class="text-light bg-dark text-center rounded">Compound Library Upload</p>
            <p> <label for= "{{ form.email.id }}" id="id_ligandFile_text" >{{ form.ligandFile.label }}</label> {{ form.ligandFile }} </p>
            <!-- <p> <label for= "{{ form.email.id }}">{{ form.type_docking.label }}</label> {{ form.type_docking }} </p> -->
 

        </div>
<!--         <input type="button" name="Example" value="Load Sample Data (Angiotensin I Converter Enzime)" onclick="set_example();" style="margin-bottom: 10px;"> -->
        <p><input type="submit" value="Upload"></p>
        <!-- <a href="javascript:set_example()">Angiotensin I Converter Enzime Example</a> -->
    </form>
    </div>
    <div id="soca"  >
         <div>
            <p class="text-light bg-dark text-center rounded">Parameters for active site delimitation</p>
             <img src="{% static "dyna/fig_sphere.jpg" %}" alt="fig_sphere" style='height: 100%; width: 100%; object-fit: contain'>
         </div>
         <div id="tools" style="margin: 10px auto;" class="border border-dark rounded">
             <p class="text-light bg-dark text-center rounded">Tools</p>
                <p><a href="{% url 'fix_receptor' %}">Fix receptor for Virtual Screening</a> </p>
                <p><a href="{% url 'convert_mol2_to_pdbqt' %}">Convert .MOl2 file to .PDBQT</a> </p>

         </div>
        <div id="ACEExampleBox" style="margin: 10px auto;" class="border border-primary rounded">
             <p class="text-light bg-primary text-center rounded">Angiotensin I Converter Enzime (ACE-I) Example</p>
            <input type="button" name="Example" value="Submit Example Experiment" onclick="set_example();" style="margin-bottom: 10px;">
            {% if show_view_example %}
            <input type="button" name="Example" value="View Example Results" onclick="view_example();" style="margin-bottom: 10px;">
            {% endif %}

         </div>
    </div>
</section>

<div id='contacts' style="margin: 10px auto;" class=" shadow p-3 mb-5 bg-white rounded">
    <p class="text-light bg-dark text-center rounded">Contacts:</p>
    <p>Dr. João Luiz de Almeida Filho (<a href = "mailto: joaoluiz.af@gmail.com">joaoluiz.af@gmail.com</a>); LQFPP-CBB-UENF</p>
    <p>Prof. Jorge H. Fernandez  (<a href = "mailto: jhfernandez@gmail.com">jhfernandez@gmail.com</a>); LQFPP-CBB-UENF:</p>


</div>

</body>




</html>







