{% load staticfiles %}
<!DOCTYPE html>
<html>
<style type="text/css">
	
	        div#oi {
            /*margin-left: 40px;*/
            /*margin-left: 4px;*/
            display: inline-block;
            height: 1000px;
            width: 50%;
             /*min-width:40vw;*/
            background: pink;
        }
</style>

<head>
	<title>HTP SurflexDock server 0.5</title>
</head>
<body>
	<div id="oi">
    <h3>Load a protein target.</h3> 
        <p> You must upload a protein receptor to use HTP SurflexDock. HTP SurflexDock  supports only receptors in <a href="https://en.wikipedia.org/wiki/Protein_Data_Bank_(file_format)">PDB format</a>. You can get it from <a href="https://www.rcsb.org/">https://www.rcsb.org/</a>. Make sure your receptor contains all residues and atoms.</p> 
    <h3>Specify the location of your receptor\'s active site.</h3>
        <p> The HTP SurflexDock needs to know the location and size of the active site of your protein to make compound interactions in Virtual Screening races. In HTP SurflexDock, the active site is defined by a sphere centered on a protein residue (a,b) and radius r in nanometers (figure below). To specify these parameters you must provide: <ul style="list-style-type:disc;"> <li>Residue number in the PDB (a) and its chain (b).</li> <li>Sphere radio in nanometers (r). </li></p> <img src="{% static "dyna/fig_sphere.jpg" %}" alt="fig_sphere" style='height: 100%; width: 100%; object-fit: contain'>
    <h3> Select the cutoff of clustering algoritm. </h3>
        <p> HTP SurflexDock uses a clustering algorithm for ensemble building. Cutoff parameter is used to group receptor\'s conformations that have RMSD lower than the value selected in this field. The esemble is composed of 1 representative of the 3 largest clusters and the original conformation.   </p>

    <h3>Upload the compound Library.</h3>
        <p> The compounds for HTP SurflexDock to use must be in PDBTQ format. To submit them to the system you must compress them into a single file in tar.gz or zip format.</p>
    <h3>Choose the number of calculated poses for each compound.</h3>
        <p> HTP SurflexDock can calculate up to 30 poses for each compound. Being the pose with the smallest &Delta;G will be presented in the results.  
</div>
       
</body>
</html>