{% load staticfiles %}
<html>

    <head>

       <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>HTP SurflexDock</title>
    </head>
    <body>

        <div id='title' class="shadow-sm p-3 mb-1 rounded">
            <h1>HTP SurflexDock server 0.6 </h1>

        </div>

        <section class="shadow p-3 mb-1 bg-white rounded">
            <div class="saf">
                <form action="{% url 'manual_task' %}" method="post" enctype="multipart/form-data">
                	{% csrf_token %}
                    
                    <div id="a" class="border border-dark rounded">
                    	<span>
                        <p class="text-light bg-dark text-center rounded">Experiment Identification</p>
                        <p > <label for= "{{ form.email.id }}">{{ form.projectName.label }}</label> {{ form.projectName }} </p>
                        {% if use_email_backend %}
                            <p> <label for= "{{ form.email.id }}">{{ form.email.label }}</label> {{ form.email }} </p>
                        {% endif %}
                        </span>
                    </div>

                    <div id="b" style="margin: 10px auto;" class="border border-dark rounded">
                        <p class="text-light bg-dark text-center rounded">Receptor Upload</p>
                        <p> <label for= "{{ form.email.id }}" id="structureFile_text">{{ form.structureFile.label }}</label> {{ form.structureFile }} </p>

<p> <label for= "{{ form.email.id }}" id="workdir_text">{{ form.workdir.label }}</label> {{ form.workdir }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.residue_number.label }}</label> {{ form.residue_number }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.chain.label }}</label> {{ form.chain }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.size.label }}</label> {{ form.size }} </p>
                        <p> <label for= "{{ form.email.id }}">{{ form.cluster_cutoff.label }}</label> {{ form.cluster_cutoff }} </p>
                    </div>

                    <div id="c" style="margin: 10px auto;" class="border border-dark rounded">
                        <p class="text-light bg-dark text-center rounded">Compound Library Upload</p>
                        <p> <label for= "{{ form.email.id }}" id="id_ligandFile_text" >{{ form.ligandFile.label }}</label> {{ form.ligandFile }} </p>
                    </div>
                    <p><input type="submit" value="Upload"></p>
                </form>
            </div>

        </section>
    </body>
</html>







