<!DOCTYPE html>
<html>
<style type="text/css">
        section {
            width: 1290px;
            /*background: aqua;*/
            margin: auto;
            padding: 0px;
        }
        section
        div#id_res_info {
            width: 40%;
            height: 360px;
            display: inline-block;
        }
        div#id_cluster_img {

            display: inline-block;
            height: 680px;
            width: 60%;
            float: right;

        }
        div#id_docking_table {
            display: inline-block;
            width: 350px;
            width: 40%;
        }


</style>

<head>
	  <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>MM/PBSA Analisys</title>
</head>
<body>

	<section class="shadow p-3 mb-5 bg-white rounded">
		<h1>HTP SurflexDock 0.6 MM/PBSA Results</h1>
            <div id="save_link" class="border border-dark rounded">
                <p class="text-light bg-dark text-center rounded font-weight-bold">Warning</p>
                <ul>
                <li> This experiment may take a few hours to complete, therefore, You need to save the address of this page  (<a href={{ request.get_full_path }}>{{ request.build_absolute_uri }}</a>) to access the results in the future.  <a class=" font-weight-bold text-danger"> We highly recommend that you bookmark it on your browser!!!</a> </li>
                {% if post.alive %}
                {% else %}
                    <li> This experiment is in a processing queue. You can view the queue <a href="{% url 'task_list_user' name=post.name %}"> clicking here! </a></li>
                 {% endif %}
                </ul>

            </div>
                {% if has_mmpbsaimg %}
        <div id="id_cluster_img" class="border border-dark rounded">
            <p class="text-light bg-dark text-center rounded">ΔG as a function of Time</p>
              
                <img src="{% url 'mmpbsaimg' name=post.name %}" alt="Forest" style="width:750px">
            
        </div>
        {% endif %}
		<div id="id_res_info" class="border border-dark rounded">
			        <p class="text-light bg-dark text-center rounded">Experiment Information</p>

         			<p>Project name: {{ post.projectName }}</p>
       				<p>Finished? {{ post.alive }}</p>
			        {% if post.alive %}
			            <p>Finished at {{ post.terminated_date }}</p>
			        {% else %}
          				<p> <a href= "{% url 'stop'  name=post.name %}">STOP Experiment!!!!!!!!!!!!</a></p>
        			{% endif %}

			        <p>Failed?: {{ post.fail }}</p>
			        {% if post.fail %}
			            <p> <a href= "{% url 'activeLog'  name=post.name %}">Access Error Log</a></p>
			        {% endif %}
			        <p>Starting time: {{post.created_date}}</p>
			        <!-- <p>Free space on /: {{free_space}}</p> -->
			        <p> <a href= "{% url 'debug_mmpbsa'  name=post.name %}">Debug Experiment</a></p>
                    {% if post.alive %}
                        <p> <a href= "{% url 'download_mmpbsa'  name=post.name %}">Download generated data</a></p>
                    {% endif %}
          
        
    </div>
    {% if has_summary %}
    <div id="id_docking_table" class="border border-dark rounded">
        <p class="text-light bg-dark text-center rounded">Summary Energy</p>

              
            {{ sumary_lines|linebreaks  }}

            
    </div>
    {% endif %}
	</section>
        <!-- <section class="shadow p-3 mb-5 bg-white rounded"> -->

    

</body>
</html>