<h1>MMPBSA Debug</h1>
HTP SurflexDock ID: {{ post.name }}
<p>Project Name: {{ post.projectName }}</p>
<p>Finished? {{ post.alive }}</p>
{% if post.alive %}
    <p>Finished at {{ post.terminated_date }}</p>
{% endif %}
<p>Failed?: {{ post.fail }}</p>
{% if post.fail %}
    <p> <a href= "{% url 'activeLog'  name=post.name %}">Access Error Log</a></p>
{% endif %}
<p>Free space on /: {{free_space}}</p>
<h2>Steps of the MM/PBSA methodology:</h2>
<<<<<<< HEAD
<p>Obtaining the Complex Log exists? {{ complex_pdb }}</p>
<p>Ligand Parameterization Log exists? {{ Ligand_acpype }}</p>
{% if em_log  %}
	<a href= "{% url 'readLog'  name=post.name logname='em_log' %}"><p>Minimizing the complex Log exists? {{ em_log }}</p></a>
{% else %}
	<p>Minimizing the complex Log exists? {{ em_log }}</p>
{% endif %}
{% if nvt_log %}
	<a href= "{% url 'readLog'  name=post.name logname='nvt_log' %}"><p>NVT equilibrition phase Log exists? {{ nvt_log }}</p></a>
{% else %}
	<p>NVT equilibrition phase Log exists? {{ nvt_log}}</p> 
{% endif %}
{% if npt_log %}
	<a href= "{% url 'readLog'  name=post.name logname='npt_log' %}"><p>NPT equilibrition phase Log exists? {{ npt_log }}</p></a>
{% else %}
	<p>NPT equilibrition phase Log exists? {{ npt_log}}</p>
{% endif %}
{% if md_0_10_log %}
	<a href= "{% url 'readLog'  name=post.name logname='md_0_10_log' %}"><p>Production of the 5 ns trajectory Log exists? {{ md_0_10_log }}</p></a>
{% else %}
	<p>Production of the 5 ns trajectory Log exists? {{ md_0_10_log }}</p>
{% endif %}
{% if energy_MM_xvg  %}
	<a href= "{% url 'readLog'  name=post.name logname='energy_MM_xvg' %}"><p>Calculation MM/PBSA Log exists? {{ energy_MM_xvg }}</p></a>
{% else %}
	<p>Calculation MM/PBSA Log exists? {{ energy_MM_xvg }}</p>
=======
<p>Obtaining the Complex. (Log exists?) {{ complex_pdb }}</p>
<p>Ligand Parameterization. (Log exists?) {{ Ligand_acpype }}</p>
{% if em_log  %}
	<a href= "{% url 'readLog'  name=post.name logname='em_log' %}"><p>Minimizing the complex. (Log exists?) {{ em_log }}</p></a>
{% else %}
	<p>Minimizing the complex. (Log exists?) {{ em_log }}</p>
{% endif %}
{% if nvt_log %}
	<a href= "{% url 'readLog'  name=post.name logname='nvt_log' %}"><p>NVT equilibrition phase. (Log exists?) {{ nvt_log }}</p></a>
{% else %}
	<p>NVT equilibrition phase. (Log exists?) {{ nvt_log}}</p> 
{% endif %}
{% if npt_log %}
	<a href= "{% url 'readLog'  name=post.name logname='npt_log' %}"><p>NPT equilibrition phase. (Log exists?) {{ npt_log }}</p></a>
{% else %}
	<p>NPT equilibrition phase. (Log exists?) {{ npt_log}}</p>
{% endif %}
{% if md_0_10_log %}
	<a href= "{% url 'readLog'  name=post.name logname='md_0_10_log' %}"><p>Production of the 5 ns trajectory. (Log exists?) {{ md_0_10_log }}</p></a>
{% else %}
	<p>Production of the 5 ns trajectory. (Log exists?) {{ md_0_10_log }}</p>
{% endif %}
{% if energy_MM_xvg  %}
	<a href= "{% url 'readLog'  name=post.name logname='energy_MM_xvg' %}"><p>Calculation MM/PBSA. (Log exists?) {{ energy_MM_xvg }}</p></a>
{% else %}
	<p>Calculation MM/PBSA. (Log exists?) {{ energy_MM_xvg }}</p>
>>>>>>> f135e1672d15dd0f48e76922483d92ea62f49b46
{% endif %}
  <p> <a href= "{% url 'log'  name=post.name %}">Executed Commands</a></p>