<html>  

    <head>
            <title>Queue Monitor</title>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
            <style>
				table, th, td {
				  border: 1px solid black;
				  border-collapse: collapse;
				}
				</style>
    </head>
    <body>
    	<h1>Queue Monitor of xDR SurflexDock</h1>

    	<p>The table below shows the number of tasks that are queued for xDR SurflexDock (column Tasks waiting). The system status indicates if has a task waiting or the queue system is idle. Worker process reincarnations indicates the number of times the system has recovered from a serious failure to process a task. </p>

    	{% if number_of_cluster > 1 %}
    		<p><font color="red">Warning! More than one queue manager has been found working on the system. This can cause xDR SurflexDock stability issues.</font></p>

    	{% endif %}
      {% if number_of_cluster > 0 %}
    	<table style="width:100%">
    		<tr>
    		<th>Process ID</th>
		    <th>Status</th>
		    <th>Worker process reincarnations</th>
		    <th>Tasks waiting</th>
        <th>Stop</th>
		</tr>

          {% for cluster in clusters %}
          	<tr>
              <th>{{cluster.cluster_id}}</th>
              <th>{{cluster.status}}</th>
              <th>{{cluster.reincarnations}}</th>
              <th>{{cluster.task_q_size}}</th>
              <th> <a href= "{% url 'stop_queue_monitor'  id_server=cluster.cluster_id %}">STOP</a> </th>
          </tr>

          {% endfor %}
      </table>
      {% else %}
        <p><a href= "{% url 'start_queue_monitor'  %}">Start Queue Manager</a></p>
      {% endif %}
      <p><a href= "{% url 'stop_all_queue_monitor'  %}">Force Stop all Queue Manager</a></p>

</body>
</html>