<!DOCTYPE html>
<html>
	<script>
	function goBack() {
	  window.history.back();
	}
	</script>
	<head>
	    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<title>Fix Receptor file </title>
	</head>
	<body>
		<div id="id_res_info" class="border border-dark rounded">
		<form action="{% url 'fix_receptor' %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<h1>HTP SurflexDock</h1>
			<p>HTP SurflexDock cannot continue due to the receptor having the following problem:</p>
				{% if error_msg == "ANISOUException" %}
					<p> The receptor has Anisotropic residues. Remove them before continuing. </p>
				{% endif %}
				{% if error_msg == "ResidueMissingException" %}
					<p> The receptor is missing one or more residues that must be completed before continuing. Complete these residues by molecular modeling or manually. </p>
				{% endif %}
				{% if error_msg == "BadPDBStructureException" %}
					<p>The receptor has a problem with its structure. Check before and continue. </p>
				{% endif %}

			
			<p><input type="submit" value="Back"></p>
		</form>
		</div>
	</body>
</html>