{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src={% static "jsmol/JSmol.min.js" %}></script>

<script type="text/javascript">

// 1/21/2013 10:54:15 PM -- adds image handling

var jmolApplet0; // set up in HTML table, below

// logic is set by indicating order of USE -- default is HTML5 for this test page, though
var use = "HTML5" // JAVA HTML5 WEBGL IMAGE  are all otions
// var s = document.location.search;


jmol_isReady = function(applet) {
  Jmol._getElement(applet, "appletdiv").style.border="1px solid blue"
}   

// var xxxx = document.location.search
// if (xxxx.indexOf("_USE=") > 0)xxxx = xxxx.substring(0, xxxx.indexOf("_USE=") - 1);
// if (xxxx.length == 5 || xxxx.length == 0) { 
//  xxxx = (xxxx + "?1crn").substring(1,5)
//  script = 'h2oOn=true;set animframecallback "jmolscript:if (!selectionHalos) {select model=_modelNumber}";'
//  +'set errorCallback "myCallback";'
//  +'set defaultloadscript "isDssp = false;set defaultVDW babel;if(!h2oOn){display !water}";'
//  +'set zoomlarge false;set echo top left;echo loading XXXX...;refresh;'
//  +'load "http://www.rcsb.org/pdb/files/XXXX.pdb";set echo top center;echo XXXX;'
//  +'spacefill off;wireframe off;cartoons on;color structure;'
//  script = script.replace(/XXXX/g, xxxx)
// } else {
//  script = unescape(xxxx.substring(1))
// }
  script = 'load FILES "{% url 'download_protein_str' experiment_id=experiment_id time=time compound=compound pose=pose %}" "{% url 'download_ligand' experiment_id=experiment_id time=time compound=compound pose=pose %}";'
     + 'select model =1.1;'
     + 'spacefill off;wireframe on;cartoons on;color cpk; '

    + 'select model =2.1;'
     + 'spacefill off;wireframe 0.4 ;cartoons off;color Rasmol;'
     +  'model 0;'



var Info = {
  width: 850,
  height: 650,
  debug: false,
  color: "black",
  addSelectionOptions: false,
  serverURL: "http://chemapps.stolaf.edu/jmol/jsmol/php/jsmol.php",
  use: "HTML5",
  j2sPath: "{% static "jsmol/j2s/" %}",
  // readyFunction: jmol_isReady,
  script: script,
  //jarPath: "java",
  //jarFile: (useSignedApplet ? "JmolAppletSigned.jar" : "JmolApplet.jar"),
  //isSigned: useSignedApplet,
  //disableJ2SLoadMonitor: true,
  disableInitialConsole: true,
  // defaultModel: "=1bdm",
  // src: "http://200.20.229.25:18864/download_protein_str/1c11df7eaa7143d89ba656f5d229980a/96.000/A9e.pdbqt/10"
  //console: "none", // default will be jmolApplet0_infodiv
}


</script>
</head>
<body>

<center>


<table>


<script type="text/javascript">

jmolApplet0 = Jmol.getApplet("jmolApplet0", Info)

</script>
</td><td>
<form><!-- (FORM tag is important to automatically set checkbox off when page reloads) -->
<script type="text/javascript">



</script>





<script type="text/javascript">
jmolBr()

Jmol.jmolCommandInput(jmolApplet0)
</script>

</td></tr></table>

</body>
</html>