{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<script src="{% static "3Dmol-min.js" %}"></script>
 <div id="container-01" class="mol-container"></div>

 <style>
.mol-container {
  width: 100%;
  height: 800px;
  position: relative;
}
</style>
<script>
$(function() {
  let element = $('#container-01');
  let config = { backgroundColor: 'white' };
  let viewer = $3Dmol.createViewer( element, config );
  $3Dmol.download("url:{% url 'download_protein_str' experiment_id=experiment_id time=time compound=compound pose=pose %}",viewer,{},function(m) {
       m.setStyle({}, {stick: {}});;
       // m.setSurface()
       // viewer.addStyle({},{stick:{}});
       viewer.zoomTo();
       viewer.render();
       });
    // let z = $3Dmol.download("url:{% url 'download_protein_ligand' experiment_id=experiment_id time=time compound=compound pose=pose %}",viewer,{onemol: true,multimodel: true},function(m) {
    //    m.setStyle({stick:{radius:.5,colorscheme:"magentaCarbon"}});
    //    viewer.zoomTo();
    //    viewer.render();
       // });
});

</script>
</html>
