<!DOCTYPE html>
<html>


    <style type="text/css">
        section {
            /*width: 100%;*/
            width: 850px;
            /*height: 760px;*/
            /*background: aqua;*/
            margin: auto;
            padding: 0px;
        }

        div#save_link {
            /*width: 900px;*/
            display: inline-block;
            /*height: 680px;*/
            /*background: pink;*/
            /*padding: 10px;*/
            /*float: left;*/
            margin-bottom: 10px;
        }

        div#id_attention {
            /*margin-left: 40px;*/
            /*margin:  40px;*/
            /*display: inline-block;*/
            /*height: 760px;*/
            /*width: 900px;*/
            /*padding: 10px;*/
             /*min-width:40vw;*/
            /*background: yellow;*/
        }
        
    </style>
   
    <head>
            <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

        <title>HTP SurflexDock 0.6 Server</title>        
    </head>

    <body>
        <section class="shadow p-3 mb-5 bg-white rounded">
            <h1>HTP SurflexDock 0.6</h1>

            <p>You just submitted a job on the HTP SurflexDock and it entered the queue to be processed. The table below contains the queue of tasks to be processed. When your work reaches the top you can follow the state of the experiment by clicking on the link in the Task Name column.</p> 

            <div id="id_attention" class="border border-dark rounded">
                <table class="table">
                <thead class="thead-dark">
                     <tr>
                        <th class="text-center" scope="col">Task Name</th>
                        <th class="text-center" scope="col">Subtime time (UTC)</th>  
                        <th class="text-center" scope="col">Status</th>          
                     </tr>
                </thead>
                <tbody>
                {% for post in posts %}                
                <tr>                 
                    {% if post.name != name %}
                        <th class="text-center" scope="row">{{post.projectName}}</th>
                    {% else %}
                        <th class="text-center" scope="row"><a href="{{post.site }}">{{ post.projectName }}</a></th>
                    {% endif %}
                        <td class="text-center">{{post.created_date}}</td>
                        {% if forloop.counter == 1 %}
                         <td class="text-center">Processing</td>
                        {% else %}
                         <td class="text-center">Waiting</td>
                        {% endif %}
                  </tr>
                {% endfor %}
              </tbody>
                </table>   
            </div>
            {% if processed %}
            <p style="text-align: center;"></p style="text-align: center;">
            <p style="text-align: center;">Processed itens</p style="text-align: center;">
            <div id="id_attention" class="border border-dark rounded">
                <table class="table">
                <thead class="thead-dark">
                     <tr>
                        <th class="text-center" scope="col">Task Name</th>
                        <th class="text-center" scope="col">Subtime time (UTC)</th>  
                        <th class="text-center" scope="col">Status</th>          
                     </tr>
                </thead>
                 <tbody>
                {% for post in processed %}                
                <tr>                 
                    <th class="text-center" scope="row"><a href="{{post.site}}">{{ post.projectName }}</a></th>
                        <td class="text-center">{{post.created_date}}</td>
 
                         <td class="text-center">Processed</td>
                  </tr>
                {% endfor %}
              </tbody>

            </div>
            {% endif %}
        </section>
    </body>

</html>




