<meta http-equiv="refresh" content="600; URL={% url "task_list" %}">
<table style="width:100%" align="left">
<h1>Queue</h1>
 <tr>
    <th align="left">Job Id</th>
    <th align="left">Subtime time (UTC)</th>
    <th align="left">Task Name</th>
    <th align="left">Workdir</th>
    <th align="left">Finished?</th>
    <th align="left">Failed?</th>
    <th align="left">Folder Exists</th>
    <th align="left">Folder Size</th>
    <th align="left">Delete Task</th>
  </tr>
{% for post in posts %}
 		<tr>
	 		<td align="left">{{ post.name }} </td>
	 		<td align="left">{{post.created_date}}</td>
	 		<td align="left">{{post.projectName}}</td>
	 		<td align="left">{{post.folder}}</td>
<!-- 	 		<td align="left"><a href="{% url 'task_detail' name=post.name %}">{{ post.alive }}</a></td> -->
            <td align="left"><a href="{{post.site}}">{{ post.alive }}</a></td>
            <td align="left">{{post.fail}}</td>
	 		<td align="left">{{post.b}}</td>
            <td align="left">{{post.size}}</td>
            <td align="left"><a href="{% url 'delete_task' name=post.name %}">Delete?</a></td>
 		</tr>


{% endfor %}
</table>