
{% block content %}
	<meta http-equiv="refresh" content="300; URL={% url 'task_detail' name=post.name %}">
    <div class="post">
        <h1>MDR SurflexDock Task Parameters</h1>
        <!-- {% if post.name %} -->
            <!-- <div class="date"> -->
                <!-- {{ post.name }} -->
            <!-- </div> -->
        <!-- {% endif %} -->
        <p>MDR SurflexDock ID: {{ post.name }}</p>
        <p>Finished? {{ post.alive }}</p>
        {% if post.alive %}
            <p>Finished at {{ post.terminated_date }}</p>
        {% endif %}
        
        <p>Project name: {{ post.projectName }}</p>
        <p>Protein name: {{ post.protein }}</p>
        <p>Ligands:</p>
        {% for ligand in ligands %}
            <p> -> {{ligand.filename}}</p>
        {% endfor %}
        <p>Chain: {{post.chain}}</p>
        <p>Center Residue: {{post.residue_number}}</p>
        <p>Box Size: {{post.size}}</p>
        <p>Starting time: {{post.created_date}}</p>
        <p>Maximun Number of evals of AutoDock: {{post.type_docking}}</p>
        {% if post.alive %}
            <div class="date">
                <h2>Download Results:</h2>
                 <a href= "{% url 'download' name=post.name   %}">Download</a>
            </div>
        {% endif %}

       <!--  <a href= "{% url 'download' name=post.name   %}">Download</a>
        <p>{{ result |linebreaksbr }}</p>
    </div>
{% endblock %}